{% extends 'base.html' %} 

{% block content %}

<div>
    <h4> Name: {{cheese.name}} </h4>
    <h5> Type: {{cheese.type}} </h5>
    <h5> Milk: {{cheese.milk}} </h5>
    <h5> Country of Origin: {{cheese.origin}} </h5>
    <img src="{{cheese.img}}" alt="picture of {{cheese.name}}">

    {% for wine in cheese.wine.all %}
    <h4> Good wine pairing: </h4>
        <a href="{% url 'wine_detail' wine.id %}">{{wine.name}}</a>
    {% empty %} 
        <div> No wines yet </div>
    {% endfor %}

</div>
   
<div>
    <a href="{% url 'cheese_update' cheese.pk %}"> Update Cheese Info</a>
    <a href="{% url 'cheese_delete' cheese.pk %}"> Delete </a>
</div>

{% endblock %}